includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
parameters:
    paths:
        - app/
        - Modules/

    # Level 9 is the highest level
    level: 5

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#

